.encabezado {
    font-size: small;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;

}
.menu {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: larger;
    color: aliceblue;
}